<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' target="referenceList" top="460px" left="230px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="430px" left="930px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="530px" left="945px" width="60px" height="60px" }}


  {{widget 'toucharea' id="trigger-extra-010-000-popup" target="extra-010-000-popup" top="155px" left="900px" width="113px"}}
  {{#widget "modal" class="popup" id="extra-010-000-popup" register="extra-010-000-popup" top="0" left="0" fxIn="fadeIn" fxOut="fadeOut" }}
    {{widget 'toucharea' target="extra-010-000-popup" top="23px" left="894px" width="113px"}}
    {{widget 'toucharea' target="referenceList" top="40px" left="235px" width="60px" height="60px" }}
    <img src="{{ asset "images/popup@2x.png" }}" width="1024">
  {{/widget}}
</section>
