<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  <div class="horse-second">
    <img class="eye-active" src="{{ asset "images/eye-active@2x.png" }}" width="35" >
    <img class="animated" src="{{ asset "images/faded@2x.png" }}" width="773.5">
  </div>

  <div class="horse-one">
    <img class="horse" src="{{ asset "images/horse@2x.png" }}" width="324.5">

    <div class="arrow--one">
      <img src="{{ asset "images/arrow-one@2x.png" }}" width="68.5">
    </div>
    <div class="arrow--two">
      <img src="{{ asset "images/arrow-two@2x.png" }}" width="211.5">
    </div>
    <div class="arrow--three">
      <img src="{{ asset "images/arrow-three@2x.png" }}" width="148">
    </div>


    <img class="neutrophile" src="{{ asset "images/neutrophile@2x.png" }}" width="195">
    <img class="neutrophile--text" src="{{ asset "images/neutrophile-text@2x.png" }}" width="287.5">

    <img class="arrow" src="{{ asset "images/red-arrow@2x.png" }}" width="272">

    <img class="staub" src="{{ asset "images/staub@2x.png" }}" width="132.5">

    <img class="erhohte" src="{{ asset "images/erhohte@2x.png" }}" width="150">
    <img class="erhohte--text" src="{{ asset "images/erhohte-text@2x.png" }}" width="264">

    <img class="dyspnoe" src="{{ asset "images/dyspnoe@2x.png" }}" width="150">
  </div>

</section>