<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' id="trigger-core-070-000-popup" target="core-070-000-popup" top="595px" left="915px" width="100px"}}
  {{#widget "modal" class="popup" id="core-070-000-popup" register="core-070-000-popup" top="0" left="0" fxIn="fadeIn" fxOut="fadeOut" }}
    {{widget 'toucharea' target="core-070-000-popup" top="23px" left="894px" width="113px"}}
    <img src="{{ asset "images/popup@2x.png" }}" width="1024">
    {{widget 'toucharea' target="referenceList" top="305px" left="460px" width="60px" height="60px" }}
  {{/widget}}

</section>