body[data-slide="extra-060-000"] {
	#slide-extra-060-000 {
		background-color: inherit;
	}

	.toggler {
		position: absolute;
		width: 50px;
		height: 50px;
		top: 419px;
    left: 921px;
		z-index: 1000;
	}

	.content {
		position: absolute;
		transition: all 0.5s ease-in-out;

		&--1 {
			top: 471px;
			left: 54px;
		}
		&--2 {
			opacity: 0;
			top: 427px;
			left: 54px
		}
	}

	.veemail-collect {
    top: 101px;
    left: 933px;
	}

	.show {
		opacity: 1;
	}
}