<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' target="referenceList" top="485px" left="795px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="595px" left="890px" width="60px" height="60px" }}

</section>