body[data-slide="core-030-000"] {
	#slide-core-030-000 {
		background-color: inherit;
	}

	.horse-one {
		position: relative;
    top: 164px;
    left: 112px;
    display: flex;
		opacity: 1;

		img {
			object-fit: contain;
		}

		.horse {
			position: absolute;
			top: 121.5px;
			left: 189.5px;
			opacity: 0;
			animation: show-horse .5s ease-in-out 2s forwards;
		}

		.arrow {
			position: absolute;
			top: 40px;
			left: 20px;
			height: 16.5px;
			opacity: 0;
			transition: all .5s ease-in-out;
			animation: arrow .5s ease-in-out 1s both;

			&--one {
				position: absolute;
				overflow: hidden;
				transition: all .5s ease-in-out;
				left: 487px;
				top: 145px;
				max-width: 0px;
				max-height: 0px;
				animation: arrow-show 1s ease-in-out 2.1s forwards;
			}

			&--two {
				position: absolute;
				overflow: hidden;
				transition: all .5s ease-in-out;
				left: 211.3px;
				top: 416.1px;
				max-width: 0px;
				max-height: 0px;
				animation: arrow-show 1s ease-in-out 3.2s forwards;
			}

			&--three {
				position: absolute;
				overflow: hidden;
				transition: all .5s ease-in-out;
		    left: 154px;
    		top: 86px;
				max-width: 0px;
				max-height: 0px;
				animation: arrow-show 1.5s ease-in-out 4.2s forwards;
			}
		}

		.staub {
			position: absolute;
		}

		.neutrophile {
			position: absolute;
			opacity: 0;
	    top: 0.4px;
    	left: 311px;
			animation: scale .5s ease-in-out 2.1s forwards;

			&--text {
				opacity: 0;
				position: absolute;
				left: 521.5px;
				top: 65px;
				animation: scale .5s ease-in-out 2.1s forwards;
			}
		}

		.erhohte {
			position: absolute;
			opacity: 0;
			left: 413.8px;
			top: 358.1px;
			animation: scale .5s ease-in-out 3.2s forwards;

			&--text {
				opacity: 0;
				position: absolute;
				left: 578px;
				top: 384.9px;
				animation: scale .5s ease-in-out 3.2s forwards;
			}
		}

		.dyspnoe {
			position: absolute;
			opacity: 0;
			left: 89px;
			top: 272px;
			animation: scale .5s ease-in-out 4.3s forwards;
		}

	}

	.horse-second {
		opacity: 0;
		transition: opacity .5s ease-in-out;

		.eye-active {
			position: absolute;
			top: 162.2px;
			left: 961.2px;
			z-index: 100000;
		}

		.animated {
			position: absolute;
			top: 162.4px;
			left: 207.6px;
		}
	}

	.show {
		opacity: 1 !important;
	}
	.hide {
		opacity: 0 !important;
	}

	@keyframes arrow {
		100% {
			left: 102px;
		}
	}

	@keyframes arrow-show {
		0% {
			max-height: 0;
			max-width: 0;
		}
		100% {
			max-width: 400px;
			max-height: 400px;
		}
	}

	@keyframes show-horse {
		100% {
			opacity: 1;
		}
	}

	@keyframes scale {
		0% {
			opacity: 0;
			transform: scale(1);
		}
		40% {
		transform: scale(.95);
		}
		80% {
			transform: scale(1.05);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}