body[data-slide="core-060-000"] {
	#slide-core-060-000 {
		background-color: inherit;
	}
	.video-btn {
		position: absolute;
		top: 640px;
    left: 78px;
    width: 110px;
    height: 50px;
    z-index: 10000;
	}

	.veemail-collect {
		top: 688px;
    left: 917px;
	}
}