<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' id="trigger-core-020-000-popup" target="core-020-000-popup" top="155px" left="900px" width="113px"}}
  {{#widget "modal" class="popup" id="core-020-000-popup" register="core-020-000-popup" top="0" left="0" fxIn="fadeIn" fxOut="fadeOut" }}
    {{widget 'toucharea' target="core-020-000-popup" top="23px" left="894px" width="113px"}}
    {{widget 'toucharea' target="referenceList" top="485px" left="235px" width="60px" height="60px" }}
    {{widget 'toucharea' target="referenceList" top="655px" left="235px" width="60px" height="60px" }}

    {{widget 'toucharea' target="referenceList" top="595px" left="415px" width="60px" height="60px" }}

    {{widget 'toucharea' target="referenceList" top="495px" left="595px" width="60px" height="60px" }}
    {{widget 'toucharea' target="referenceList" top="660px" left="615px" width="60px" height="60px" }}

    {{widget 'toucharea' target="referenceList" top="510px" left="880px" width="60px" height="60px" }}
    {{widget 'toucharea' target="referenceList" top="660px" left="925px" width="60px" height="60px" }}
    <img src="{{ asset "images/popup-1@2x.png" }}" width="1024">
  {{/widget}}

</section>