body[data-slide="core-050-000"] {
	#slide-core-050-000 {
		background-color: inherit;
	}

	.popup {
		position: absolute;
		opacity: 0;
		display: none;

		img:nth-child(2) {
			z-index: 100;
		}

		&--one {
			top: 88px;
			left: 324px;
			transition: all .8s;
			z-index: 10;

			.content {
				position: relative;
				top: 113px;
				z-index: -1;
			}
		}

		&--two {
			top: -267px;
			left: 829px;
			transition: all .8s;

			.content {
				position: relative;
				top: 478px;
				left: -426px;
			}
		}
	}

	.video-btn {
    position: absolute;
    width: 100px;
    height: 60px;
    top: 170px;
    left: 75px;
    z-index: 1000;
    cursor: pointer;
	}

	.video-widget-class {
		opacity: 0;
	}

	.show {
		opacity: 1;
	}
}