<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' target="referenceList" top="490px" left="270px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="175px" left="465px" width="60px" height="60px" }}
  {{ widget "veemail-collect" fragment="EF-0918" }}

  <div class="toggler">
    <img src="{{ asset "images/toggler@2x.png" }}" width="35">
  </div>
  <img class="popup-content" src="{{ asset "images/popup@2x.png" }}" width="501">
</section>