<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' target="referenceList" top="75px" left="825px" width="60px" height="60px" }}
</section>