<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' target="referenceList" top="80px" left="845px" width="60px" height="60px" }}


  <div class="toggler toggler--one"></div>
  <img class="part part--one" src="{{ asset "images/blue-parts@2x.png" }}"  width="514.5">

  <div class="toggler toggler--two"></div>
  <img class="part part--two" src="{{ asset "images/green-parts@2x.png" }}" width="298">

  <div class="toggler toggler--three"></div>
  <img class="part part--three" src="{{ asset "images/brown-parts@2x.png" }}" width="225.5">

  {{widget 'toucharea' id="trigger-extra-050-000-popup" target="extra-050-000-popup" top="630px" left="455px" width="113px"}}
  {{#widget "modal" class="popup" id="extra-050-000-popup" register="extra-050-000-popup" top="0" left="0" fxIn="fadeIn" fxOut="fadeOut" }}
    {{widget 'toucharea' target="extra-050-000-popup" top="23px" left="894px" width="113px"}}

    {{widget 'toucharea' target="referenceList" top="370px" left="265px" width="60px" height="60px" }}
    {{widget 'toucharea' target="referenceList" top="615px" left="125px" width="60px" height="60px" }}

    {{widget 'toucharea' target="referenceList" top="405px" left="425px" width="60px" height="60px" }}
    {{widget 'toucharea' target="referenceList" top="520px" left="455px" width="60px" height="60px" }}
    {{widget 'toucharea' target="referenceList" top="615px" left="455px" width="60px" height="60px" }}


    {{widget 'toucharea' target="referenceList" top="335px" left="795px" width="60px" height="60px" }}
    {{widget 'toucharea' target="referenceList" top="535px" left="760px" width="60px" height="60px" }}

    <img src="{{ asset "images/popup@2x.png" }}" width="1024">
  {{/widget}}

</section>