<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' target="referenceList" top="210px" left="915px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="400px" left="670px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="585px" left="520px" width="60px" height="60px" }}


  {{widget 'toucharea' id="trigger-extra-030-000-popup" target="extra-030-000-popup" top="480px" left="910px" width="113px"}}
  {{#widget "modal" class="popup" id="extra-030-000-popup" register="extra-030-000-popup" top="0" left="0" fxIn="fadeIn" fxOut="fadeOut" }}
    {{widget 'toucharea' target="extra-030-000-popup" top="23px" left="894px" width="113px"}}
    {{widget 'toucharea' target="referenceList" top="385px" left="260px" width="60px" height="60px" }}
    <img src="{{ asset "images/popup@2x.png" }}" width="1024">
  {{/widget}}
</section>
