body[data-slide="core-040-000"] {
	#slide-core-040-000 {
		background-color: inherit;
	}

	.menu {
		position: absolute;
    width: 560px;
    height: 60px;
    list-style: none;
    top: 120px;
    left: 215px;
		z-index: 1000;

		li {
			float: left;
			width: 110px;
			height: 55px;
			margin-right: 25px;

			&:nth-child(2) {
				margin-right: 20px;
			}
			&:nth-child(3) {
				margin-right: 15px;
    		width: 157px;
			}
			&:nth-child(4) {
				margin-right: 0;
			}
		}
	}

	.img-popup {
		position: absolute;
		transition: opacity .8s;
		top: 137px;
		left: 75px;
		opacity: 0;
		display: none;
	}

	.container {
    width: 530px;
    height: 450px;
		top: 69px;
    left: 341px;
    display: flex;
    flex-direction: column;
		align-items: flex-start;
    overflow: hidden;

		&--1 {
			.stage {
				opacity: 0;
				&--1 {
					.device {
						position: absolute;
						top: 27px;
						left: 7px;
						animation: one-device 1.5s ease-in-out 2s forwards;

						&__cartridge {
							position: absolute;
							top: 359px;
							left: 99px;
						}
					}
					.text {
						position: absolute;
						top: 270px;
						left: 164px;
					}
					.arrow {
						position: absolute;
						top: 360px;
						left: 104px;
						animation: one-arrow 1s ease-in-out 1s forwards;
						animation-iteration-count: 3;
					}
					.desk {
						position: absolute;
						top: 424px;
						left: 37px;
					}
				}
				&--2 {
					transition: all .5s ease-in-out 4s;
					.device {
						position: absolute;
						top: 43px;
						left: 232px;
						opacity: 0;
						animation: one-slide .5s ease-in-out 4.5s forwards;
					}
				}

			}
		}

		&--2 {
			left: 235px;
			width: 610px;

			.stage {
				&--1 {
					.device {
						position: absolute;
    				top: 25px;
    				left: 48px;

						&__hand {
							position: absolute;
							top: 238px;
							left: 30px;
							transform: rotate(2deg);
							animation: two-hand-one 1s ease-in-out 5s forwards;
						}
					}
					.label {
						position: absolute;
						top: 382px;
						left: 31px;
					}
					.arrow {
						position: absolute;
						width: 0;
						height: 30px;
						overflow: hidden;
						animation: two-arrow .9s ease-in-out 1s forwards;
						animation-iteration-count: 3;
						top: 350px;
						left: 60px;
					}
				}

				&--2 {
					opacity: 0;
					animation: fade-in .5s ease-in-out 5s forwards;
					.device {
						position: absolute;
    				top: 25px;
						left: 216px;

						&__hand {
							position: absolute;
							transform: rotate(-22deg);
							top: 243px;
							left: 244px;
							animation: two-hand-two 1s ease-in-out 9s forwards;
						}
						&__red {
							position: absolute;
							top: 402px;
							left: 296px;
						}
					}
					.label {
						position: absolute;
						top: 382px;
						left: 199px;
					}
					.arrow-container {
						position: absolute;
						overflow: hidden;
						top: 345px;
						left: 228px;
						height: 40px;
						width: 36px;

						.nested {
							width: 0;
							float: right;
							overflow: hidden;
							animation: two-arrow .9s ease-in-out 6s forwards;
							animation-iteration-count: 3;

							.arrow {
								float: right;
								width: 36px;
							}
						}
					}
				}


				&--3 {
					position: absolute;
					opacity: 0;
					animation: fade-in .5s ease-in-out 9s forwards;
					left: 307px;
					.device {
						position: absolute;
    				top: 25px;
    				left: 75px;
						&__hand {
							top: 234px;
							position: absolute;
							left: 57px;
							animation: two-hand-three 1s ease-in-out 13s forwards;
						}
					}
					.gass {
						position: absolute;
						top: 63px;
						left: 84px;
						opacity: 0;
						animation: fade-in 1.5s ease-in-out 13.5s forwards;
					}
					.label {
						position: absolute;
						top: 382px;
						left: 61px;
					}
					.arrow {
						position: absolute;
						top: 349px;
						left: 76px;
						img {
							animation: scale 1s ease-in-out 11s forwards;
							animation-iteration-count: 3;
						}
					}
				}
			}
		}

		&--3 {
			.top-part {
				position: absolute;
				top: 28px;
				left: 36px;
				animation: rotate 3s linear .5s forwards;
				animation-iteration-count: 1;
			}
			.bottom-part {
				position: absolute;
				top: 178px;
				left: 20px;
			}
			.text-two {
				position: absolute;
				top: 35px;
				left: 84px;
			}
			.text-one {
				position: absolute;
				top: 63px;
				left: 50px;
			}
			.black-arrow {
				position: absolute;
				opacity: 0;
				top: 141px;
				left: 104px;
				animation: arrow 1s ease-in-out 3s forwards;
				animation-iteration-count: 3;
			}
		}

		&--4 {
			.red-sign {
				position: absolute;
				animation: scale 1s ease 1s forwards;
				animation-iteration-count: 2;
				width: 36px;

				&--1 {
					top: 384px;
					left: 46px;
				}
				&--2 {
					top: 384px;
					left: 248px;
				}
			}
		}
	}

	.video-btn {
		position: absolute;
    width: 100px;
    height: 60px;
    top: 687px;
    left: 465px;
    z-index: 1000;
    cursor: pointer;
	}

	.video-widget-class {
		opacity: 0;
	}

	.veemail-collect {
		top: 705px;
    left: 922px;
	}


	// popup-1
	@keyframes one-arrow {
		0% {
			opacity: 0;
			top: 360px;
		}
		100% {
			opacity: 1;
			top: 372px;
		}
	}
	@keyframes one-device {
		0% {
			top: 27px;
		}
		100% {
			top: 43px;
		}
	}
	@keyframes one-slide {
		0% {
			opacity: 0;
			left: 225px;
		}
		100% {
			opacity: 1;
			left: 232px;
		}
	}

	// popup-2
	@keyframes two-arrow {
		0% {
			width: 0;
		}
		100% {
			width: 36px;
		}
	}
	@keyframes two-hand-one {
		100% {
			transform: rotate(-22deg);
    	top: 243px;
    	left: 76px;
		}
	}
	@keyframes two-hand-two {
		100% {
			top: 235px;
			left: 200px;
			transform: rotate(2deg);
		}
	}
	@keyframes two-hand-three {
		100% {
			top: 238px;
    	transform: rotate(-11deg);
    	left: 76px;
		}
	}

	// popup--3
	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		20% {
			transform: rotate(4deg);
		}
		40% {
			transform: rotate(0deg);
		}
		60% {
			transform: rotate(-4deg);
		}
		80% {
			top: 28px;
			transform: rotate(0deg);
		}
		100% {
			top: 32px;
		}
	}
	@keyframes arrow {
		0% {
			opacity: 0;
			top: 130px;
		}
		100% {
			opacity: 1;
			top: 141px;
		}
	}


	@keyframes scale {
		0% {
			transform: scale(1);
		}
		20% {
			transform: scale(1.5);
		}
		40% {
		transform: scale(1);
		}
		80% {
			transform: scale(1.4);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes scale-2 {
		0% {
			transform: scale(1);
		}
		25% {
			transform: scale(1.2);
		}
		50% {
			transform: scale(1);
		}
		75% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes fade-in {
		100% {
			opacity: 1;
		}
	}

	.show {
		opacity: 1;
		display: block;
	}
}