<div id="footer">

  <div data-toggle="references" class="item references">
    <img src="../../assets/images/footer/references@2x.png">
  </div>

  {{ widget "veemail-send" class="item" template="ET-0706" }}

  <div data-toggle="zuruck" class="item zuruck">
    <img src="../../assets/images/footer/zuruck@2x.png">
  </div>
</div>