<div id="menu">
  <img src="../../assets/images/navigation/menu@2x.png" class="default menu-bg-image">
  <div class="entry home" data-toggle="home"></div>
  <div class="entry sitemap"  data-toggle="sitemap"></div>
  <div class="entry pi custom"  data-toggle="pi"></div>
  <div class="entry extras default"  data-toggle="extras"></div>
  <div class="entry fazit" data-toggle="fazit"></div>
</div>