{{#widget 'modal' id="productinformation" register="productinformation" wall="modal-wall" fxIn="fadeInDown" fxOut="fadeOutUp" isSingleModal=true}}
  {{ widget 'toucharea' right="66px" top ="20px" width="50px" height="50px" target="productinformation" }}
  <img src="../../assets/images/pi-list@2x.png" width="1024">
{{/widget}}