{{#widget 'modal' id="referenceList" register="referenceList" wall="modal-wall" fxIn="fadeInUp" fxOut="fadeOutDown"}}
  {{ widget 'toucharea' right="65px" top="20px" width="50px" height="50px" target="referenceList" }}
  <img src="../../assets/images/footer/references-popup@2x.png" width="1024">

  <div id="references-wrapper" class="references">
    <img src="../../assets/images/footer/references-list@2x.png" width="815">
  </div>
{{/widget}}