{{#widget 'modal' id="sitemap-popup" register="sitemap" isSingleModal=true wall="modal-wall" fxIn="fadeInDown" fxOut="fadeOutUp"}}
  {{ widget 'toucharea' id='close-sitemap' right="65px" top="20px" width="50px" height="50px" target="sitemap" }}

  <img class="sitemap-background core" src="../../assets/images/sitemap/background@2x.png">
  <div class="core">
    <img class="item main" data-to="core-010-000" src="../../assets/images/sitemap/core-010-000@2x.jpg">

    <img class="item main" data-to="core-020-000" src="../../assets/images/sitemap/core-020-000@2x.jpg">
    <img class="item main popup" data-to="core-020-000" data-click="#trigger-core-020-000-popup" src="../../assets/images/sitemap/core-020-000-popup@2x.png">
    <img class="item main" data-to="core-020-010" src="../../assets/images/sitemap/core-020-010@2x.jpg">


    <img class="item main" data-to="core-030-000" src="../../assets/images/sitemap/core-030-000@2x.jpg">
    <img class="item main" data-to="core-040-000" src="../../assets/images/sitemap/core-040-000@2x.jpg">
    <img class="item main popup" data-to="core-040-000" data-click="#trigger-core-040-000-popup" src="../../assets/images/sitemap/core-040-000-popup@2x.png">

    <img class="item main" data-to="core-050-000" src="../../assets/images/sitemap/core-050-000@2x.jpg">
    <img class="item main" data-to="core-060-000" src="../../assets/images/sitemap/core-060-000@2x.jpg">
    <img class="item main popup" data-to="core-060-000" data-click="#trigger-core-060-000-popup" src="../../assets/images/sitemap/core-060-000-popup@2x.png">

    <img class="item main" data-to="core-070-000" src="../../assets/images/sitemap/core-070-000@2x.jpg">
    <img class="item main popup" data-to="core-070-000" data-click="#trigger-core-070-000-popup" src="../../assets/images/sitemap/core-070-000-popup@2x.png">
    <img class="item main" data-to="core-080-000" src="../../assets/images/sitemap/core-080-000@2x.jpg">
  </div>


  <img class="sitemap-background extra hidden" src="../../assets/images/sitemap/background-extra@2x.png">
  <div class="extra hidden">
    <img class="item main" data-to="extra-010-000" src="../../assets/images/sitemap/extra-010-000@2x.jpg">
    <img class="item main popup" data-to="extra-010-000" data-click="#trigger-extra-010-000-popup" src="../../assets/images/sitemap/extra-010-000-popup@2x.png">

    <img class="item main" data-to="extra-020-000" src="../../assets/images/sitemap/extra-020-000@2x.jpg">
    <img class="item main" data-to="extra-030-000" src="../../assets/images/sitemap/extra-030-000@2x.jpg">
    <img class="item main popup" data-to="extra-030-000" data-click="#trigger-extra-030-000-popup" src="../../assets/images/sitemap/extra-030-000-popup@2x.png">

    <img class="item main" data-to="extra-040-000" src="../../assets/images/sitemap/extra-040-000@2x.jpg">
    <img class="item main" data-to="extra-050-000" src="../../assets/images/sitemap/extra-050-000@2x.jpg">
    <img class="item main popup" data-to="extra-050-000" data-click="#trigger-extra-050-000-popup" src="../../assets/images/sitemap/extra-050-000-popup@2x.png">

    <img class="item main" data-to="extra-060-000" src="../../assets/images/sitemap/extra-060-000@2x.jpg">
    <img class="item main" data-to="extra-070-000" src="../../assets/images/sitemap/extra-070-000@2x.jpg">
  </div>
{{/widget}}
