<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ name }}</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="../../assets/styles/global-styles.css">
    <link rel="stylesheet" href="assets/{{this.id}}.css">
  </head>

  <body data-slide="{{this.id}}">

    <div id="wrapper">

      <!-- Debug Container -->
      <div id="debug" class="container" onclick="location.hash='debug'"></div>

      <!-- SLIDE -->
      {{renderSlide this}}

      <!-- INCLUDES -->
      include "menu.html.hbs"
      include "sitemap.html.hbs"
      include "referenceList.html.hbs"
      include "footer.html.hbs"
      include "pi.html.hbs"

      <!-- MODAL-WALLS -->
      {{widget "wall" register="modal-wall"}}
      {{widget "wall" register="reference-wall"}}
      {{widget "wall" register="movie-wall"}}

      <!-- MODAL-CONTAINER -->
      <div id="references"></div>
      <div id="modals"></div>

    </div>

    <!-- set current slide -->
    <script>
      window.eda = { currentSlide: '{{this.id}}' }
    </script>

    <!-- concat scripts -->
    <script src="../../assets/scripts/global-scripts.js"></script>

    <!-- slide script -->
    <script src="assets/{{this.id}}.js"></script>

  </body>
</html>

