/** COLORS **/
@color-primary: #3f5460;
@color-selected: #3f5460;
@color-disabled: #ddd;
@color-disabled2: #aaa;
@color-text: #fff;

/** DEFAULTS **/

// sizes
@size-action-icon: 30px;

// border
@default-border-radius: 10px;
@default-border-color: @color-primary;

// canvas
@core-canvas-width: 1024px;
@core-canvas-height: 768px;
@core-canvas-swipe-duration: 500ms;
@core-canvas-blur-duration: 500ms;

/** WIDGETS **/

// modal
@widget-modal-content-padding: 0;
@widget-modal-background: transparent;
@widget-modal-border: 0px solid @color-selected;
@widget-modal-border-radius: 0;
@widget-modal-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

// referenz
@widget-reference-content-padding: 5px 10px 5px 10px;
@widget-reference-background: #fff;
@widget-reference-border: 2px solid @color-selected;
@widget-reference-border-radius: 5px;
@widget-reference-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

// wall
@widget-wall-background-color: rgba(0, 0, 0, 0.5);
