@font-face {
  font-family: "din-bold";
  src: url("../fonts/din-bold.otf") format("opentype");
}

#footer {
  position: absolute;
  bottom: 11px;
  left: 10px;
  right: 0;
  transition: bottom .4s ease-out;
  display: flex;
  padding-left: 70px;
  box-sizing: border-box;
  z-index: 1;

  &.hidden {
    transition: bottom .4s ease-out;
    bottom: -100px;
  }

  .item {
    margin-right: 38px;
    img {
      pointer-events: none;
    }

    &.references {
      margin-right: 23px;
      img {
        width: 176px / 2;
      }
    }

    &.zuruck {
      position: relative;
      top: 3px;
      img {
        width: 124px / 2;
      }
    }

    &.widget.veemail-send {
      background: url('../images/footer/mail-senden@2x.png') no-repeat center center;
      background-size: 100%;
      width: 178px / 2;
      height: 44px / 2;
      display: block;
      &:not(.hasFragments) {
        opacity: 0.5;
      }

      .veemailFragmentCount {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 11px;
        font-family: din-bold;
        color: #fff;
        width: 18px;
        height: 18px;
        right: 37px;
        top: -13px;;
        background: #000;
        border-radius: 50%;
        pointer-events: none;
        opacity: 0;
      }

      &.changed {
        .veemailFragmentCount {
          animation: bounce .3s forwards cubic-bezier(0, 0, 1, 1);
        }
      }

      &.hasFragments {
        opacity: 1;

        .veemailFragmentCount {
          opacity: 1;
        }
      }
    }
  }
}

body[data-slide^="core"] {
  .zuruck {
    visibility: hidden;
  }
}

body[data-slide="core-010-000"] {
  #footer {
    display: none;
  }
}