.slide {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  transition: -webkit-transform 300ms ease-in-out;
}

#modals {
  position: absolute;
  top: 0;
  z-index: 2003;

  .widget.modal {
    .wall {
      background: @widget-wall-background-color;
    }

    .content {
      img {
        // width: 100vw;
        // height: 100%;
      }

      .close {
        position: absolute;
        right: 3px;
        top: -3px;
        width: 50px;
        height: 50px;
        background: url(../images/icons/close@2x.png) no-repeat center center;
        background-size: 70px / 2 70px / 2;

        &.tapped {
          animation: bounce .3s forwards cubic-bezier(0, 0, 1, 1);
        }
      }

      &:before {
        display: none;
        top: auto;
        bottom: -20px;
        left: 20px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        border-right-color: #fff;
      }

      @keyframes bounce {
        50% {
          transform: scale(.9);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    &.fadeInDown {
      .content:before {
        bottom: auto;
        top: -20px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
      }
    }
  }
}
