@import "configuration";
@import "layers";
@import "menu";
@import "sitemap";
@import "footer";
@import "tabs";
@import "toolbox";
@import "referencelist";

#debug {
  display: none !important;
}

/* VEEMAIL BUTTONS */
.widget.veemail-collect {
  position: absolute;
  width: 28px;
  height: 23px;
  &.selected {
    background: #07A7F3;
    opacity: .3;
    box-shadow: 0 0 3px 3px rgba(7, 167, 225, 0.3) inset;
  }
}