#menu {
  display: flex;
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1024px;
  height: 45px;
  transition: top .4s ease-out;
  justify-content: flex-end;
  top: 0;

  .menu-bg-image {
    position: absolute;
    top: 0;
    right: 28px;
    height: 42.5px;
    width: 981px/2;
    display: none;
    pointer-events: none;
    display: block;
  }

  &.hidden {
    transition: top .4s ease-out;
    top: -55px;
  }

  .entry {
    &.home {
      width: 90px;
    }
    &.sitemap, &.fazit, &.pi, &.extras {
      width: 110px;
    }
    &.pi {
      width: 115px;
    }
    height: 45px;
  }
}