#referenceList {
  .content {
    left: 0;
    top: 0;
  }

  .references {
    position: absolute;
    top: 117px;
    left: 82px;
    overflow: hidden;
    height: 600px;
    width: 855px;

    .iScrollVerticalScrollbar {
      top: 0 !important;
      bottom: 5px !important;
    }

    .iScrollIndicator {
      height: 315px !important;
      border-radius: none !important;
      background: #07a7e1 !important;
    }
  }


}
