#sitemap-popup {
  .content {
    width: 1024px;
    height: 767px;
    top: 0;

    .widget.toucharea {
      min-height: 20px;
    }

    .sitemap-content {
      width: 100%;
    }
    .sitemap-background {
      width: 1024px;
      height: 768px;
    }
    .item {
      position: absolute;
      width: 118px;

      &.popup {
        opacity: 1;
      }

      &[data-to="core-010-000"] {
        top: 320px;
        left: 115px;
      }
      &[data-to="core-020-000"] {
        top: 320px;
        left: 251px;
      }
      &[data-to="core-020-000"].popup {
        top: 218px;
        left: 274px;
        width: 93px;
      }
      &[data-to="core-020-010"] {
        top: 455px;
        left: 251px;
      }
      &[data-to="core-030-000"] {
        top: 320px;
        left: 386px;
      }
      &[data-to="core-040-000"] {
        top: 320px;
        left: 521px;
      }
      &[data-to="core-040-000"].popup {
        top: 218px;
        left: 546px;
        width: 93px;
      }
      &[data-to="core-050-000"] {
        top: 455px;
        left: 521px;
      }
      &[data-to="core-060-000"] {
        top: 591px;
        left: 521px;
      }
      &[data-to="core-060-000"].popup {
        top: 591px;
        left: 655px;
        width: 93px;
      }
      &[data-to="core-070-000"] {
        top: 320px;
        left: 657px;
      }
      &[data-to="core-070-000"].popup {
        top: 218px;
        left: 682px;
        width: 93px;
      }
      &[data-to="core-080-000"] {
        top: 320px;
        left: 790px;
      }

      // Extra flow
      &[data-to="extra-010-000"] {
        top: 320px;
        left: 212px;
      }
      &[data-to="extra-010-000"].popup {
        top: 218px;
        left: 236px;
        width: 93px;
      }
      &[data-to="extra-020-000"] {
        top: 472px;
        left: 212px;
      }
      &[data-to="extra-030-000"] {
        top: 320px;
        left: 372px;
      }
      &[data-to="extra-030-000"].popup {
        top: 218px;
        left: 396px;
        width: 93px;
      }
      &[data-to="extra-040-000"] {
        top: 472px;
        left: 373px;
      }
      &[data-to="extra-050-000"] {
        top: 320px;
        left: 533px;
      }
      &[data-to="extra-050-000"].popup {
        top: 218px;
        left: 558px;
        width: 93px;
      }
      &[data-to="extra-060-000"] {
        top: 320px;
        left: 694px;
      }
      &[data-to="extra-070-000"] {
        top: 472px;
        left: 694px;
      }


      &.active {
        box-sizing: border-box;
        border: solid 2px #1c60a9;
        box-shadow: 0 0 11px 3px #1c60a966;
      }
    }

    img[data-to] {
      background: #fff;
      transition: all 0.35s cubic-bezier(0.68, -0.6, 0.36, 1.67);

      &.zoom {
        transform: scale(1.5);
        transition: all 0.2s ease-out;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
      }

      &.tapped {
        animation: bounce .3s forwards cubic-bezier(0, 0, 1, 1);
      }

      @keyframes bounce {
        50% {
          transform: scale(.9);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}
