@font-face {
  font-family: "din-bold";
  src: url("../fonts/din-bold.otf") format("opentype");
}

.tab-container {
  display: flex;
  position: absolute;
  left: 60px;
  top: 191px;
  height: 378px;
  width: 915px;
  border-radius: 0 20px 0 0;
  background: #fff;
  overflow: hidden;
  border-bottom: 9px solid rgb(206, 220, 0);
  box-sizing: border-box;

  .buttons {
    position: relative;
    width: 43px;
    max-width: 43px;
    overflow: hidden;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 202px;
      width: 43px;
      background: rgba(65, 143, 222, .3);
      box-shadow: inset -4px 0 4px -4px rgba(0, 0, 0, 0.45);
      box-sizing: border-box;
      transition: .5s;
      overflow: hidden;

      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }

      > div {
        min-width: 120px;
        text-align: center;
        font-family: din-bold;
        font-size: 12.9px;
        transform: rotate(-90deg);
        transform-origin: center;
        color: #fff;
        transition: .5s, transform 0s;
        pointer-events: none;
      }

      &:not(:last-of-type):not(:first-of-type) {
        top: 202px;
      }

      &:last-of-type {
        bottom: 0;
        top: auto;
      }

      &:before {
        content: '';
        position: absolute;
        left: 100px;
        width: 100%;
        height: 100%;
        background: #fff;
        box-shadow: 0 0 20px 10px #fff !important;
        transition: .3s ease;
      }

      &.active {
        box-shadow: inset 0 0 0 0 #fff !important;
				animation: button-press .5s forwards;

        &:before {
          left: 0;
        }

        > div {
          color: rgb(65, 143, 222);
        }
      }

      @keyframes button-press {
        0% {
          transform: scale(1);
        }
        30% {
          transform: scale(.95);
        }
        70% {
          transform: scale(1.05);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  .content {
    position: relative;
    flex: 1;
    overflow: hidden;

    > div {
      position: absolute;
      top: 0;
      left: 0;
      transition: .2s ease;

      > img {
        height: 808px / 2;
      }

      &:not(.show) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
