#toolbox-popup {
  .content {
    width: 1832px / 2;
    height: 145px;
    left: 54px;
    top: 60px;
    background: #fff;

    .widget.toucharea {
      min-height: 20px;
    }


    .row {
      position: absolute;
      left: 50px;
      display: flex;

      &.row1 {
        top: 30px;
      }

      div[data-to] {
        position: relative;
        width: 223px / 2;
        height: 166px / 2;
        background: #fff;
        margin-right: 30px;
        transition: 0.35s cubic-bezier(0.68, -0.6, 0.36, 1.67);
        outline: 1px solid rgb(206, 222, 0);

        &.blue {
          outline: 2px solid rgb(65, 143, 222);
        }

        > img {
          pointer-events: none;
        }

        &.zoom {
          transform: scale(1.5);
          transition: 0.2s ease-out;
          box-shadow: 0 0 2px 2px rgba(0,0,0,0.4);
        }

        &.tapped {
          animation: bounce .3s forwards cubic-bezier(0, 0, 1, 1);
        }

        @keyframes bounce {
          50% {
            transform: scale(.9);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }

  }
}
