<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  <div class="toggler"></div>
  <img class="content content--1 show" src="{{ asset "images/content-1@2x.png" }}" width="921">
  <img class="content content--2"      src="{{ asset "images/content-2@2x.png" }}" width="922">
  {{ widget "veemail-collect" fragment="EF-0918" }}

</section>