<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{ widget 'toucharea' slide="core-050-000" top="410px" left="100px" width="340px" height="100px" }}
  {{ widget 'toucharea' slide="core-060-000" top="545px" left="100px" width="340px" height="100px" }}


  {{widget 'toucharea' id="trigger-core-040-000-popup" target="core-040-000-popup" top="193px" left="895px" width="113px"}}
  {{#widget "modal" class="popup" id="core-040-000-popup" register="core-040-000-popup" top="0" left="0" fxIn="fadeIn" fxOut="fadeOut" }}
    {{widget 'toucharea' target="core-040-000-popup" top="23px" left="894px" width="113px"}}
    <img src="{{ asset "images/popup-bg@2x.png" }}" width="1024">

    <ul class="menu">
      <li id="aktivierung"></li>
      <li id="auslosen"></li>
      <li id="nusternadapter"></li>
      <li id="lagerung"></li>
    </ul>

    <div class="img-popup popup--1 show">
      <img src="{{ asset "images/popup-1@2x.png" }}" width="874">
      <div class="container container--1">
        <div class="stage--1 show">
          <img class="device__cartridge" src="{{ asset "images/popup-1/device-cartridge@2x.png" }}" width="41.5">
          <img class="device" src="{{ asset "images/popup-1/complete-device@2x.png" }}" width="150.5">
          <img class="arrow" src="{{ asset "images/popup-1/black-arrow@2x.png" }}" width="31.5">
          <img class="text" src="{{ asset "images/popup-1/green-text@2x.png" }}" width="38.5">
          <img class="desk" src="{{ asset "images/popup-1/desk@2x.png" }}" width="377.5">
        </div>
        <div class="stage--2">
          <img class="device" src="{{ asset "images/popup-1/complete-device@2x.png" }}" width="150.5">
        </div>
      </div>
    </div>

    <div class="img-popup popup--2">
      <img src="{{ asset "images/popup-2@2x.png" }}" width="874">
      <div class="container container--2">
        <div class="stage--1">
          <img class="device__hand" src="{{ asset "images/popup-2/device-hand@2x.png" }}" width="69.5">
          <img class="device" src="{{ asset "images/popup-2/device@2x.png" }}" width="132">
          <div class="arrow">
            <img src="{{ asset "images/popup-2/arrow@2x.png" }}" width="36">
          </div>
          <img class="label" src="{{ asset "images/popup-2/label-1@2x.png" }}" width="70">
        </div>

        <div class="stage stage--2">
          <img class="device__hand" src="{{ asset "images/popup-2/device-hand@2x.png" }}" width="69.5">
          <img class="device" src="{{ asset "images/popup-2/device@2x.png" }}" width="132">
          <img class="device__red" src="{{ asset "images/popup-2/red-cartridge@2x.png" }}" width="20.5">
          <div class="arrow-container">
            <div class="nested">
              <div class="arrow">
                <img src="{{ asset "images/popup-2/arrow-2@2x.png" }}" width="35.5">
              </div>
            </div>
          </div>
          <img class="label" src="{{ asset "images/popup-2/label-2@2x.png" }}" width="70">
        </div>

        <div class="stage stage--3">
          <img class="device__hand" src="{{ asset "images/popup-2/device-hand@2x.png" }}" width="69.5">
          <img class="device" src="{{ asset "images/popup-2/device@2x.png" }}" width="132">
          <img class="gass" src="{{ asset "images/popup-2/gass@2x.png" }}" width="109">
          <div class="arrow">
            <img src="{{ asset "images/popup-2/arrow-3@2x.png" }}" width="12">
          </div>
          <img class="label" src="{{ asset "images/popup-2/label-3@2x.png" }}" width="38">
        </div>
      </div>
    </div>

    <div class="img-popup popup--3">
      <img src="{{ asset "images/popup-3@2x.png" }}" width="874">
      <div class="container container--3">
        <img class="top-part" src="{{ asset "images/popup-3/top-part@2x.png" }}" width="134">
        <img class="text-two" src="{{ asset "images/popup-3/green-text-two@2x.png" }}" width="67">
        <img class="text-one" src="{{ asset "images/popup-3/green-text-one@2x.png" }}" width="125.5">
        <img class="bottom-part" src="{{ asset "images/popup-3/bottom-part@2x.png" }}" width="151.5">
        <img class="black-arrow" src="{{ asset "images/popup-3/black-arrow@2x.png" }}" width="31.5">
      </div>
    </div>

    <div class="img-popup popup--4">
      <img src="{{ asset "images/popup-4@2x.png" }}" width="874">
      <div class="container container--4">
        <img class="red-sign red-sign--1" src="{{ asset "images/popup-4/x-sign@2x.png" }}">
        <img class="red-sign red-sign--2" src="{{ asset "images/popup-4/x-sign@2x.png" }}">
      </div>
    </div>

    <div class="video-btn"></div>
    {{ widget "veemail-collect" fragment="EF-0919" }}
  {{/widget}}

  {{ widget 'video' src="../../assets/videos/Ausschnitt_Julius.mp4" }}
</section>