<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' target="referenceList" top="235px" left="920px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="395px" left="920px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="545px" left="920px" width="60px" height="60px" }}


  <div class="popup popup--one">
    <img src="{{ asset "images/popup1@2x.png" }}" width="434.5" class="content">
    <img src="{{ asset "images/eye-active@2x.png" }}" width="35">
    {{widget 'toucharea' target="referenceList" top="235px" left="330px" width="60px" height="60px" }}
  </div>

  <div class="popup popup--two">
    <img src="{{ asset "images/popup2@2x.png" }}" width="434.5" class="content">
    <img src="{{ asset "images/eye-active@2x.png" }}" width="35">
  </div>

  <div class="video-btn"></div>
  {{ widget 'video' src="../../assets/videos/EquiHaler_MOA_Video_DE_Ausschnitt.mp4" }}
</section>
