body[data-slide="extra-050-000"] {
	#slide-extra-050-000 {
		background-color: inherit;
	}

	.toggler {
		position: absolute;
		z-index: 1000;
		width: 50px;
		height: 50px;

		&--one {
			top: 423px;
			left: 104px;
		}
		&--two {
			top: 422px;
			left: 643px;
		}
		&--three {
			top: 303px;
			left: 757px;
		}

	}

	.part {
		position: absolute;
		opacity: 0;
		transition: all 0.5s ease-in-out;

		&--one {
			top: 420px;
			left: 41px;
		}

		&--two {
			top: 359px;
			left: 597px;
		}

		&--three {
			top: 307px;
			left: 698px;
		}
	}

	.show {
		opacity: 1;
		animation: scale .3s ease-in-out forwards;
	}

	@keyframes scale {
		0% {
			transform: scale(1);
		}
		40% {
		transform: scale(.99);
		}
		80% {
			transform: scale(1.01);
		}
		100% {
			transform: scale(1);
		}
	}
}