<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">
  {{widget 'toucharea' target="referenceList" top="510px" left="230px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="510px" left="505px" width="60px" height="60px" }}

</section>