body[data-slide="extra-070-000"] {
	#slide-extra-070-000 {
		background-color: inherit;
	}

	.toggler {
		position: absolute;
    width: 50px;
    height: 50px;
		top: 286.6px;
    left: 800.5px;
    z-index: 1000;
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
		opacity: 0;
		transition: all 0.5s ease-in-out;
	}

	.popup-content {
		position: absolute;
		opacity: 0;
		transition: all 0.5s ease-in-out;
		top: 124px;
    left: 262px;
	}

	.veemail-collect {
    top: 101px;
    left: 933px;
	}

	.show {
		opacity: 1;
	}
}