<section id="slide-{{this.id}}" class="{{this.cssClass}}">
  <img src="{{ asset "images/background@2x.jpg" }}" class="slide-background">

  {{widget 'toucharea' target="referenceList" top="465px" left="380px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="535px" left="440px" width="60px" height="60px" }}
  {{widget 'toucharea' target="referenceList" top="525px" left="580px" width="60px" height="60px" }}


  {{widget 'toucharea' id="trigger-core-060-000-popup" target="core-060-000-popup" top="90px" left="905px" width="100px"}}
  {{#widget "modal" class="popup" id="core-060-000-popup" register="core-060-000-popup" top="0" left="0" fxIn="fadeIn" fxOut="fadeOut" }}
    {{widget 'toucharea' id="close-popup" target="core-060-000-popup" top="23px" left="894px" width="113px"}}
    <img src="{{ asset "images/popup@2x.png" }}" width="1024">

    <div class="video-btn"></div>
    {{ widget "veemail-collect" fragment="EF-0933" }}
    {{ widget 'video' src="../../assets/videos/Respimat_Inhaler_2D_HD_2020.mp4" }}

  {{/widget}}
</section>